@font-face {
  font-family: "Gotham";
  /* BETTER NOT CHANGE THE REPOSITORY NAME */
  src: url("/Trading-Game/fonts/GothamSSm-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url("/Trading-Game/fonts/Alegreya.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* THEMING BEGIN */

/* CLASSIC THEME */

.classic-theme h1, .classic-theme p, .classic-theme label {
	font-family: "Alegreya"
}

.classic-theme header {
	background-color: peachpuff;
}

.classic-theme section {
	background-color: burlywood;
}

.classic-theme aside {
	background-color: chocolate;
}

.classic-theme footer {
	background-color: darkgoldenrod;
}

.classic-theme .popup {
	background-color: rgb(0 0 0 / 18%);
}

.classic-theme .popup-content {
    background-color: rgb(255 255 255 / 15%);
}






/* LIGHT THEME */

.light-theme h1, .light-theme p, .light-theme label {
	font-family: "Gotham";
	color: #000000;
}

.light-theme #goldText {
	outline: black 1px;
	text-shadow: -1px -1px 2px #929292, 1px -1px 2px #929292, -1px 1px 2px #929292, 1px 1px 2px #929292;
}

.light-theme header {
	background-color: #f3f3f3;
}

.light-theme section {
	background-color: white;
}

.light-theme aside {
	background-color: #d9d9d9;
}

.light-theme footer {
	background-color: #dadada;
}

.light-theme .popup {
	background-color: rgb(0 0 0 / 34%);
}

.light-theme .popup-content {
    background-color: rgb(0 0 0 / 31%);
}







/* DARK THEME */

body.dark-theme {
	background-color: #151515;
}

.dark-theme h1, .dark-theme p, .dark-theme label {
	font-family: "Gotham";
	color: #FFFFFF;
}

.dark-theme header {
	background-color: #151515;
}

.dark-theme section {
	background-color: #181818;
}

.dark-theme aside {
	background-color: #191919;
}

.dark-theme footer {
	background-color: #191919;
}

.dark-theme .popup {
	background-color: rgb(0 0 0 / 18%);
}

.dark-theme .popup-content {
    background-color: rgb(255 255 255 / 1%);
}
	
/* THEMING END */












* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0%;
	padding: 1%;
}

header {
	width: 100%;
	height: 10%;
	foat: left;
	text-align: center;
}

section {
	position: relative;
	width: 80%;
	height: 80%;
	float: left;
	padding: 5px;
	text-align: left;
	overflow: auto;
}

aside {
	width: 20%;
	height: 80%;
	float: right;
	overflow: auto;
	padding: 10px;
}

footer {
	width: 100%;
	height: auto;
	float: left;
	align-items: center;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    justify-content: center;
    align-items: center;
    transition: opacity 0.25s ease;
}

.popup-content {
    background-color: rgb(255 255 255 / 15%);
    padding: 20px;
    border-radius: 2px;
    max-width: 500px;
    opacity: 0;
    width: 90%;
    color: #fff;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    transition: opacity 0.25s ease;
}

.close-btn {
    position: relative;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    float: right;
    margin-top: -10px !important;
}

.close-btn:hover {
    color: red;
}

#nameText {
  /* flex is confusing */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
}

#continueButton {
	position: fixed;
	bottom: 12%;
	right: 21%;
}

#textInput {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

#goldText {
	float: left;
	color: gold;
}

#footerTable {
	width: 100%;
	height: 90%;
	overflow: auto;
	padding: 0px;
}
